* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: #fdf2f0;
  background-color: #222;
}

.webgl {
  position: fixed;
  inset: 0;
  margin: auto;
  outline: none;
}
